<!--LOGGED IN-->

<% unless session[:user] == nil %>
  <h1>The Login Page</h1>

  <h1>Welcome, <%= session[:user]["username"] %>!</h1>

  <form action="/logout" method="post">

    <input type="submit" class="button" value="logout"/>

  </form>

  <!-- List of users -->
  <h2>Other Users:</h2>
  <% @users.each do |user| %>
    <% unless user == (session[:user]["username"]) %>
      <li><%= user %></li>
    <% end %>
  <% end %>

  <form method="post" action="/order" id="alphabetize">
    <select name="alphabetize" form="alphabetize">
      <option value="ASC">From A - Z</option>
      <option value="DESC">From Z - A</option>
    </select>
    <input class="button" type="submit" value="Order"/>
  </form>

  <form method="post" action="/delete">
    <label for="username_to_delete">Username:</label>
    <input name="username_to_delete" id="username_to_delete" type="text">
    <input class="button" type="submit" value="Delete User"/>
  </form>


  <!--ADDING FISH-->



  <h2>Fishies:</h2>
<ul>
  <% @fish.each do |fish| %>

    <% if fish[:user_id] == session[:user]["id"] %>

      <a href="<%= fish["wikipage"] %>">
        <li><%= fish["fish_name"] %></li>
      </a>

    <% end %>
  <% end %>
  </ul>

  <form method="post" action="/add_fish" id="add_fish">

    <label for="fish_name">Fish name:</label>
    <input type="text" id="fish_name" name="fish_name"/>

    <label for="wikipage">Wikipage: </label>
    <input type="url" id="wikipage" name="wikipage"/>

    <input type="submit" class="button" value="Add Fish"/>

  </form>

<% end %>

<!--LOGGED OUT-->

<% if session[:user] == nil %>

  <% if flash[:notice] %>
    <div id="message"><%= flash[:notice] %></div>
  <% end %>



  <a href="/register">
    <button>Register</button>
  </a>


  <h1>OR</h1>


  <h3>Login Below:</h3>


  <% if flash[:error] %>
    <p class="flash"><%= flash[:error] %></p>
  <% end %>


  <form action="/sessions" method="post">

    <div>
      <label for="username">Username: </label>
      <input type="text" id="username" name="username"/>
    </div>

    <div>
      <label for="password">Password: </label>
      <input type="password" id="password" name="password">
    </div>

    <p></p>

    <input type="submit" class="button" value="Login"/>

  </form>


<% end %>